.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 200px));
  grid-auto-flow: dense;
  width: 60%;
  margin: 0 auto;
}

#title {
  text-align: center;
  color: rgb(29, 29, 29);
  font-weight: 400;
}